@import "./functions";

// * Media queries breakpoint sizes

$desktop-size: 37.5em;


// * Neutral Colors;

$clr-nt-100: #FFFDFA;
$clr-nt-400: #C5C6CE;
$clr-nt-600: #5E607A;
$clr-nt-700: #00001A;

// * Primary Colors

$clr-acc-red: #F15D51;
$clr-acc-orange: #E9AA52;


// * Font Sizes & Font Weights
 
$fs-300: rem(14);
$fs-400: rem(15);
$fs-500: rem(18);
$fs-600: rem(20);
$fs-650: rem(32);
$fs-700: rem(40);
$fs-800: rem(56);

$fs-nav: $fs-500;
$fs-primary-heading: $fs-700;
$fs-side-heading: $fs-650;

@media screen and (min-width: $desktop-size) {
    $fs-nav: $fs-400;
    $fs-primary-heading: $fs-800;
    $fs-side-heading: $fs-700;
}


$fw-regular: 400;
$fw-semi-bold: 700;
$fw-bold: 800;

// =================== Padding variables================

$dst-400: rem(16);
$dst-500: rem(24);
$dst-700: rem(64);

// * Utility Classes

.fs-primary-heading {
    font-size: $fs-primary-heading;
    line-height: 1;
}
.fs-side-heading {
    font-size: $fs-side-heading;
}
.fs-nav {
    font-size: $fs-nav;
}
.fs-button {
    font-size: $fs-300;
}
.fs-400 {
    font-size: $fs-400;
}
.fs-500 {
    font-size: $fs-500;
}
.fs-600 {
    font-size: $fs-600;
}
.fs-650 {
    font-size: $fs-650;
}

// -------------------------------

.fw-regular {
    font-weight: $fw-regular;
}
.fw-semi-bold {
    font-weight: $fw-semi-bold;
}
.fw-bold {
    font-weight: $fw-bold;
}

// -----------------------------

.text-primary {
    color: $clr-nt-600;
}
.text-accent-200 {
    color: $clr-nt-100;
}
.text-accent-300 {
    color: $clr-nt-400;
}
.text-accent-500 {
    color: $clr-acc-orange;
}
.text-accent-700 {
    color: $clr-nt-700;
}

.bg-primary-300 {
    background-color: $clr-nt-100;
}
.bg-accent-500 {
    background-color: $clr-acc-red;
}
.bg-accent-700 {
    background-color: $clr-nt-700;
}

// * Grid Area Classes

.ga-hero-pic {
    grid-area: hero-pic;
}
.ga-hero-heading {
    grid-area: hero-heading;
}
.ga-hero-info {
    grid-area: hero-info;
}
.ga-aside {
    grid-area: aside;
}

.ga-footer-1 {
    grid-area: footer-1;
}
.ga-footer-2 {
    grid-area: footer-2;
}
.ga-footer-3 {
    grid-area: footer-3;
}

.bottom-m-8 {
    margin-bottom: rem(8);
}
.bottom-m-12 {
    margin-bottom: rem(12);
}
.bottom-margin-400 {
    margin-bottom: $dst-400;
}
.bottom-margin-500 {
    margin-bottom: $dst-500;
}
.bottom-margin-700 {
    margin-bottom: $dst-700;
}
.bottom-m-30 {
    margin-bottom: rem(30);
}
.bottom-m-35 {
    margin-bottom: rem(35);
}

.flex-gr-1 {
    flex-grow: 1;
}

.flex-gr-2 {
    flex-grow: 2;
}